.Blog{
    background-image: radial-gradient(#838bf8, #d393ec, #f58bc9, #e379ec,#838bf8, #d27ef3);
    text-align: center;
    height: 100vh;
}

.Blog ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Blog li{
    display: inline-block;
    margin: 20px;
}

.Blog a{
    text-decoration: none;
    color: #fff;

}

.Blog a:hover, .Blog a:active{
    color: #000;
}